@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@font-face { font-family: lumberboy; src: url('/resources/fonts/lumberboy.ttf'); }

html, body { height: 100%; padding: 0; margin: 0; }
h1, h2, h3, h4, p, li, div, ul { font-family: 'Open Sans', sans-serif; color: #000; margin: 0; padding: 0; font-weight: 100; }

.page-head { position: relative; height: 100vh; background-color: #F5F5F5; }
.page-head > div { top: 5%; left: 5%; position: absolute; width: 90%; height: 70%; background-image: url('../images/MP-Logo.png'); background-size: contain; background-repeat: no-repeat; background-position: center; }
header > p { width: 90%; position: absolute; top: 80%; left: 5%; text-align: center; font-size: 1.2em; margin: 0; padding: 6px; }

.container-tabs-viewer { width: 100%; overflow: hidden; background-image: url('../images/grey.png'); }
.container-tabs { margin-left: 0; width: 200%; }
.container-tabs > ul { float: left;  width: calc(50% - 48px); }

.container-nav { width: 100%; height: 48px; background-color: #F5F5F5; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; box-shadow: #ccc 0px 1px 1px 0px; }
nav { position: relative; width: 320px; height: 100%; margin: 0 auto; }
nav > button { height: 100%; width: 160px; font-size: 1.4em; font-family: 'Open Sans', sans-serif; font-weight: 300; background: none; outline: 0; border: none; cursor: pointer; padding: 8px 24px; margin: 0; float: left; }
nav > button:hover { font-size: 1.45em; }
nav > button:active { font-size: 1.35em; }
nav > span { position: absolute; display: block; width: 64px; height: 3px; background-color: #ccc; border-radius: 8px; top: 42px; left: 48px; }

.tabs { list-style-type: none; padding: 24px; overflow: auto; }
.tabs > li { margin: 8px; float: left; box-shadow: #ccc 0px 1px 1px 0px; border: 1px solid #ccc; border-radius: 3px; background-color: #fff; min-width: 400px; }

.info_tab > h1 { padding: 4px 8px; text-align: left; border-bottom: 1px solid #eee; font-size: 2em; }
.info_tab > .s_row { width: calc(100% - 16px); padding: 8px; border-bottom: 1px solid #eee; }
.info_tab > .s_row:last-child { border: none; }
.info_tab > .s_row > img { width: 100%; }
.info_tab > .s_row > p { font-size: 1em; }

.info_tab > .m_row { width: 100%; padding: 0; border-bottom: 1px solid #eee; }
.info_tab > .m_row:last-child { border: none; }
.info_tab > .m_row > .cell { float: left; padding: 8px; border-left: 1px solid #eee; }
.info_tab > .m_row > .cell:first-child { border-left: none; }
.info_tab > .m_row > .cell:after { clear: both; content: ""; display: table; }
.info_tab > .m_row > .cell > * { width: 100%; height: 100%; }
.info_tab > .m_row > .cell.tag { width: calc(20% - 17px); height: 100%; }
.info_tab > .m_row > .cell.content { width: calc(80% - 16px); }
.info_tab > .m_row > .cell.content > p { font-size: 1em; font-weight: 100; font-family: 'Open Sans', sans-serif; }
.info_tab > .m_row > .cell.content > p > .spacer { display: inline-block; width: 32px; }

.info_tab.about_game { width: calc(50% - 18px); }
.info_tab.about_us { width: calc(50% - 18px); }

.info_tab.conveyors { width: 900px; }
.info_tab.artstyle { } 

@media only screen and (max-device-width: 480px) {
    .page-head > p { font-size: 4em; }
    nav { width: 784px; }
    .container-nav { height: 96px; }
    nav > button { width: 360px; font-size: 4em; }
    nav > button:hover { font-size: 4.05em; }
    nav > button:active { font-size: 3.95em; }
    nav > span { width: 200px; height: 4px; top: 92px; left: 86px; }
    .info_tab.about_game { width: calc(100% - 18px); }
    .info_tab.about_us { width: calc(100% - 18px); }
    .info_tab > h1 { font-size: 5em; }
    .info_tab > .s_row > p { font-size: 2.5em; }
    .info_tab > .m_row > .cell.content > p { font-size: 2.75em; }
}