@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400');
@font-face {
    font-family: lumberboy;
    src: url('/resources/fonts/lumberboy.ttf');
}

html, body { height: 100%; padding: 0; margin: 0; }

h1, h2, h3, h4, p, div { font-family: 'Exo 2', sans-serif; }

header { position: relative; height: 100vh; background-image: url('../images/capA.png'); background-position: center; background-size: cover; background-repeat: no-repeat; }
header > img { top: 2%; left: 25%; position: absolute; width: 50%; }
header > p { width: 800px; position: absolute; top: calc(50%); left: calc(50% - 400px); text-align: center; font-size: 32px; color: #fff; /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/ margin: 0; padding: 6px; background-color: rgba(50,50,50,0.4); border-radius: 8px; }

<<<<<<< HEAD
html, body { height: 100%; padding: 0; margin: 0; }
h1 { margin: 0; padding: 0; font-family: 'lumberboy'; padding: 64px 0; text-align: center; font-size: 96px; color: rgba(255,255,255,0.99); text-shadow: 4px 3px rgba(0,0,0,0.5); }
p { width: 70%; position: absolute; top: calc(50%); left: calc(25%); font-family: 'Exo 2', sans-serif; text-align: center; font-size: 1em; color: #fff; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000; margin: 0; padding: 0; background: rgba(0, 0, 0, 0.5); border-radius: 5px; }
body { background-image: url('/resources/images/capA.png'); background-position: center; background-size: cover; background-repeat: no-repeat; }

#title { top: calc(2%); left: calc(25%); position: absolute; width: 50%; }
=======
.info-tab { height: 400px; text-align: center; }
.info-tab.conveyors { background-color: aqua; }
.info-tab.artstyle { background-color: coral; }
>>>>>>> 9af26aa34442ba30560a7b0c75d7ae7f9be03828
