@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400');
@font-face {
    font-family: lumberboy;
    src: url('/resources/fonts/lumberboy.ttf');
}

html, body { height: 100%; padding: 0; margin: 0; }
h1, h2, h3, h4, p, div { font-family: 'Exo 2', sans-serif; }

header { position: relative; height: 100vh; background-image: url('../images/capA.png'); background-position: center; background-size: cover; background-repeat: no-repeat; }
header > img { top: 2%; left: 35%; position: absolute; width: 30vw; }
header > p { width: 70%; position: absolute; top: 50%; left: 15%; text-align: center; font-size: 2em; color: #fff; margin: 0; padding: 6px; background-color: rgba(0,0,0,0.5); border-radius: 5px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.info-tab { height: 400px; text-align: center; }
.info-tab.conveyors { background-color: aqua; }
.info-tab.artstyle { background-color: coral; } 
